#!/bin/sh
#

{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
  {{ range $index, $container := $containers }}
	{{ if (not (exists (printf "/etc/letsencrypt/live/%s" $container.Env.VIRTUAL_HOST))) }}
certbot certonly --agree-tos -m ${CERTBOT_ACCOUNT} --staging --dns-cloudflare --dns-cloudflare-credentials /etc/letsencrypt/cloudflare.ini -d {{ $container.Env.VIRTUAL_HOST }}
	{{ end }}

  {{ end }}
{{ end }}
